#include <stdio.h>

void introdução(){
    printf("\nSelecione um número e um dos operadoradores lógicos abaixo para iniciar um cálculo. Lembrando que para finaliza-lo deve digitar (=) e (ENTER)\n");
                
                printf("Soma = [+]\n");
                printf("Subtração = [-]\n");
                printf("Multiplicação = [*]\n");
                printf("Divisão = [/]\n");
                printf("Potencia = [^]\n");
                printf("Porcentagem = [%]\n");
}

float somaf(float num1, float num2) {
    return num1 + num2;
}

float subtracaof(float num1, float num2) {
    return num1 - num2;
}

float multiplicacaof(float num1, float num2) {
    return num1 * num2;
}

float divisaof(float num1, float num2) {
    if (num2 == 0) {
        printf("Não é possível realizar uma divisão por zero!\n");
        return 0;
    } else {
        return num1 / num2;
    }
}

float potenciaf(float num1, float num2) {
    float resultado = 1;
    for (int i = 0; i < num2; i++) {
        resultado *= num1;
    }
    return resultado;
}

float porcentagemf(float num1, float num2) {
    return (num1 * num2) / 100;
}

int main() {
    float numero, resultado = 0;
    char operador, resposta, iniciar;
    int entrada = 1;
    
    printf("Seja bem vindo a calculadora do Syminho!!!\n");
    
    printf("\nDeseja iniciar uma operção(s/n)?\n");
    scanf("%c", &iniciar);
 
        if(iniciar == 'n'){
            printf("\nOK.Faça a conta de cabeça então! Calculadora desligada.\n");
            }
        else{
            do{
                introdução();
                
                while(1){
                    if (entrada){
                        scanf("%f", &numero);
                        resultado = numero;
                        entrada = 0;
                        }
                    else{
                        scanf(" %c", &operador);
                        if(operador == '='){
                            printf("Resultado: %.2f\n", resultado);
                            break;
                    }
                    else{
                        scanf("%f", &numero);
                        switch (operador) {
                            case '+':
                                resultado = somaf(resultado, numero);
                                break;
                            case '-':
                                resultado = subtracaof(resultado, numero);
                                break;
                            case '*':
                                resultado = multiplicacaof(resultado, numero);
                                break;
                            case '/':
                                resultado = divisaof(resultado, numero);
                                break;
                            case '^':
                            resultado = potenciaf(resultado, (int)numero);
                                break;
                            case '%':
                                resultado = porcentagemf(resultado, numero);
                                break;
                            default:
                            printf("\nO operador digitado não condiz com a opção. Tente novamente!\n");
                        return 1;
                        }
                    }
                }
            }
        
            printf("\nDeseja efetuar mais um cáculo ? (s/n): ");
            scanf(" %c", &resposta);
        
                if(resposta == 'n'){
                printf("\nObrigado por utilizar a calculadora do Syminho! Calculadora desligada!\n"); 
                }   
                else if(resposta != 's'){
                    printf("\nA resposta não condiz com a opção, digite novamente!\n");
                }
                else{
                    entrada = 1;
                }
        }while(resposta == 's');
    }
    
        return 0;
}
