#include <stdio.h>

float somaf (float num1, float num2){
    float resultado;
    resultado = num1 + num2;
    return resultado;
}

float subtracaof (float num1, float num2){
    float resultado;
    resultado = num1 - num2;
    return resultado;
}

float multiplicaçãof (float num1, float num2){
    float resultado;
    resultado = num1 * num2;
    return resultado;
}

float divisaof (float num1, float num2){
    float resultado;
    resultado = num1 / num2;
    if(num2 == 0){
        printf("Não é possível realizar um divisão por zero!");
    }
    else{
        resultado = num1 / num2;
    }
    return resultado;
}

float potenciaf (float num1, float num2){
    float resultado;
    for(int i = 0; i < num2; i++){
        resultado *= num1;
    }
    return resultado;
}

float porcentagemf (float num1, float num2){
    float resultado;
    resultado = num1 / 100 * num2;
    return resultado;
}

int main() {
    
    float num1, num2;
    char operador, resposta;
    float resultado;
    
    printf("Digite um númeto:");
    scanf("%f", &num1);
    
    printf("\nEscolha um dos operadores lógicos para efetuar a operação?");
    printf("\n[+] - Soma");
    printf("\n[-] - Subtração");
    printf("\n[*] - Multiplicação");
    printf("\n[/] - Divisão");
    printf("\n[^] - Potencia");
    printf("\n[%] - Porcentagem");
    
    printf("\n\nInsira aqui o operador:");
    scanf("%s", &operador);
    
    printf("\nInsira aqui o segundo operador lógico:");
    scanf("%f", &num2);
    
    switch(operador){
        case '+':
            resultado = somaf(num1, num2);
            break;
        case '-':
            resultado == subtracaof(num1, num2);
            break;
        case '*':
            resultado == multiplicaçãof(num1, num2);
            break;
        case '/':
            resultado == divisaof(num1, num2);
            break;
        case '^':
            resultado == potenciaf(num1, num2);
            break;
        case '%':
            resultado == porcentagemf(num1, num2);
            break;
        default:
            printf("\nO operador digitado não condiz com a opção. Tente novamente!");
            return 1;
    }
    printf("Digite o segundo numero:");
    printf("\n\nA operação é: %.2f %c %.2f = %.2f", num1, operador, num2, resultado);
    
    printf("Deseja continuar com o calculo ? (sim/não)");
    scanf("%c", resposta);
    
    if(resposta == sim)){
        printf("Ok. Vamos lá!");
    }
    else{
        printf("Obrigado por utilizar a calculadora do Syminho. Volte sempre!");
    }
    return 0;
}
